<div>
    <h2 translate="dinoApp.macro.home.title">Macros</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="macro.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="dinoApp.macro.home.createLabel">
                        Create new Macro
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="dinoApp.macro.name">Name</span></th>
                    <th><span translate="dinoApp.macro.description">Description</span></th>
                    <th><span translate="dinoApp.macro.action">Action</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="macro in vm.macros track by macro.id">
                    <td><a ui-sref="macro-detail({id:macro.id})">{{macro.id}}</a></td>
                    <td>{{macro.name}}</td>
                    <td>{{macro.description}}</td>
                    <td>
                        <span ng-repeat="action in macro.actions">
                            <a class="form-control-static" ui-sref="action-detail({id: {{action.id}}})">{{action.name}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="macro-detail({id:macro.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="macro.edit({id:macro.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="macro.delete({id:macro.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
