
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMacroLabel" translate="dinoApp.macro.home.createOrEditLabel">Create or edit a Macro</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.macro.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.macro.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dinoApp.macro.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.macro.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dinoApp.macro.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.macro.description"
                     />
        </div>

        <div class="form-group">
            <label translate="dinoApp.macro.action" for="field_action">Action</label>
            <select class="form-control" id="field_action" multiple name="action" ng-model="vm.macro.actions" ng-options="action as action.id for action in vm.actions track by action.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
