
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myActionLabel" translate="dinoApp.action.home.createOrEditLabel">Create or edit a Action</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.action.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.action.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dinoApp.action.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.action.status" id="field_status">
                <option value="ON" translate="dinoApp.DeviceStatusEnum.ON">ON</option>
                <option value="OFF" translate="dinoApp.DeviceStatusEnum.OFF">OFF</option>
            </select>
        </div>

        <div class="form-group">
            <label translate="dinoApp.action.device" for="field_device">Device</label>
            <select class="form-control" id="field_device" name="device" ng-model="vm.action.device" ng-options="device as device.name for device in vm.devices track by device.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
